.banner-row{
    width:100%;
    max-width:100%;
    margin:0 auto;
    padding:0 auto;

}
.banner-row .hide
{
    display:block;
}
.banner-image{
    width:100%;
    height:auto;
}
.banner-row-two{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap: 40px;
}
.banner-content{
    padding:20px;
}
.banner-content h1{
font-size:70px;
font-weight:500;
vertical-align:middle;
line-height:100%;
color:#00000;
}
.banner-content p{
    font-size:20px;
font-weight:500;
}
.shop-now-btn{
        display: inline-block;
    align-items: center;
    gap:8px;
    background: #000000;
    padding:14px 20px;
    text-align: center;
    margin: 0 auto;
text-decoration:none;
color:#fff;
transition: transform 0.3s ease;
}
.shop-now-btn:hover{
    transform: translateX(6px);
}
.banner-col-image img
{
    width:100%;
    height:auto;
    
}
@media (max-width:768px){
    .banner-row-two{
text-align:center;
    grid-template-columns: 1fr;
   
}
.banner-content h1{
font-size:25px;
}
.banner-content p{
    font-size:16px;

}
.banner-row .hide
{
    display:none;
}

}

/* product css*/
.wild-section
{
  width:90%;
  vertical-align:middle;
  margin:0 auto;
align-items:center;
}

.product-heading{
    font-family: Lustria;
font-weight: 400;
font-style: regular;
font-size: 36px;
line-height: 120%;
letter-spacing: 0px;
vertical-align: middle;

}

.wild-grid{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap:20px;
}
.wild-item{
    position:relative;
    overflow:hidden;
}
.wild-item img{
    width:100%;
    height:100;
    object-fit:cover;
    display:block;
}
.wild-plus{
    position: absolute;
    top:16px;
right:16px;
    width: 22px;
    height: 22px;
    opacity: 1;
    
    border-radius: 30px;
    
    background: #f8f8f8e5;
    border: 0.5px solid #000000;
   cursor: pointer;
}
.wild-item:hover img{
    transform:scale(1.02);
    transition: transform 0.3s ease;
}
@media (max-width:768px){


    .product-heading{
font-size: 24px; 
letter-spacing: 0px;
vertical-align: middle;
}
.wild-grid{
   
   grid-template-columns: repeat(2, 1fr);

}
}




/* Popup css*/
.popup{
    position:fixed;
    z-index:999;
    inset:0;
    background: rgba(0,0,0,0.6);
   
}
.popup.hidden{
    display:none;
}
.popup-box{
    padding:20px;
    position:relative;
     max-width:400px;
    vertical-align: middle;
    background:#fff;
    margin: 40px auto;
    box-shadow: 1px 1px 1px gray;
}
.close-popup{
   width: 12px;
    height: 12px;
    top: 12.7px;
   right: 30px;
    border-width: 0;
    angle: 45 deg;
    opacity: 1;
    background: transparent;
    position: absolute;
}
.popup-image img{
    width:100%;
    height:100%;

}
.popup-content h2{
    font-family: Jost;
font-weight: 300;
font-style: Light;
font-size: 16px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0px;
vertical-align: middle;

}
.popup-content p{
    font-family: Jost;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: -1%;

}

.popup-label{font-family: Jost;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
}
.hidden{
    opacity:0;
    pointer-events:none;
}




/* CLOSE */
.popup-close {
 position: absolute;
 top: 16px;
 right: 16px;
 background: none;
 border: none;
 font-size: 22px;
 cursor: pointer;
}


/* TOP LAYOUT */
.popup-layout {
 display: grid;
 grid-template-columns: 120px 1fr;
 gap: 16px;
 margin-bottom: 20px;
}

/* OPTIONS */
.popup-option {
 margin-bottom: 16px;
}


.popup-option label {
 display: block;
 font-size: 13px;
 margin-bottom: 8px;
 color:#333333;
}


/* COLOR BUTTONS */
.option-row {
 display: flex;
}


.option-row button {
 flex: 1;
 padding: 10px;
 border: 1px solid #000;
 background: #fff;
 cursor: pointer;
}


.option-row button:not(:last-child) {
 border-right: none;
}


.option-row button.active {
 background: #000;
 color: #fff;
}


/* SIZE DROPDOWN */
#color-select,
#variant-select {
 width: 100%;
 padding: 10px;
}


/* ADD TO CART */
.popup-atc {
 width: 100%;
 background: #000;
 color: #fff;
 padding: 14px;
 border: none;
 font-size: 14px;
 cursor: pointer;
}


/* MOBILE */
@media (max-width: 768px) {
 .popup-layout {
   grid-template-columns:2 1fr;
 }
}


.toast {
 position: fixed;
 bottom: 20px;
 right: 20px;
 background: #000;
 color: #fff;
 padding: 12px 20px;
 font-size: 14px;
 z-index: 9999;
 transition: opacity 0.3s ease;
}
.toast {
 opacity: 1;
}


.toast.hidden {
 opacity: 0;
 pointer-events: none;
}
